# Composer / Node
/vendor/
/node_modules/
/composer.lock
/package-lock.json
/yarn.lock

# Laravel env & keys
.env
.env.*.backup
/storage/*.key

# Laravel caches & logs
/bootstrap/cache/
/storage/framework/
/storage/logs/
/storage/app/

# Public build / hot reload
/public/build
/public/hot
/public/storage
/public_shared/

# IDEs / editors
/.idea/
/.vscode/
/.fleet/

# PHPUnit
/.phpunit.cache
/.phpunit.result.cache

# NPM / Yarn logs
npm-debug.log
yarn-error.log

# Basura rara de Windows
public/C*/
.composer/
